.photo-column {
    background-color: rgb(187, 187, 187);
    height: 900px;
}
.photo-sm{
    width: 100%;
    height: 380px;
    background-color: wheat;
    margin-top: 20px;
    overflow: hidden;
}
.photo-big{
    width: 100%;
    height: 480px;
    background-color: rgb(255, 216, 200);
    margin-top: 20px;
    overflow: hidden;
}
    #photo-gallery{
        background-color: lightskyblue;
        height: 900px;
    }
@media(min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media(min-width: 767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media(min-width: 991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}